@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700;800&display=swap");
/* Importing font ^ */

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* basic setup */
:root {
  /* colors */
  --main-cl: #10cab7;
  --secondary-cl: #2c4755;
  --txt-cl: #777;
  --hd-cl: #ebeced;
  --subhd-cl: #797979;
  --sections-bg: #f6f6f6;
  /* other */
  --main-padding: 60px;
}
.wrapper {
  width: 1170px;
  margin-inline: auto;
}
body {
  font-family: "Work Sans", sans-serif;
  line-height: 1.5;
}
h2 {
  font-size: 100px;
  color: var(--hd-cl);
  text-transform: capitalize;
  margin-bottom: 0;
}
h3 {
  font-size: 18px;
  text-transform: capitalize;
}
/* header */
header {
  border: 2px solid red;
}

/* Navigation Bar */
.menu {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.menu__logo img {
  width: 60px;
}

.menu__links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  text-align: left;
  position: relative;
}

.menu__links--toggle {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  height: 100%;
  cursor: pointer;
}

.menu__links--line {
  width: 30px;
  height: 2px;
  background: var(--secondary-cl);
}
.line--two {
  width: 15px;
  transition: width 250ms ease-in-out;
}

.menu__links--toggle:hover .line--two {
  width: 30px;
}

.menu__links:hover .menu__links--container {
  visibility: visible;
}
.menu__links--container {
  position: absolute;
  left: -140px;
  top: 40px;
  background-color: var(--sections-bg);
  visibility: hidden;
}
.menu__links--container::after {
  content: "";
  position: absolute;
  border: 8px solid;
  border-color: transparent transparent var(--sections-bg) transparent;
  top: -16px;
  right: 4px;
}
.menu__link--item {
  width: 160px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  cursor: pointer;
  background-color: var(--sections-bg);
  transition: text-indent 250ms ease-in-out 1ms;
}
.menu__link--item:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}
.menu__link--item:hover {
  text-indent: 4px;
}

/* Hero */
.hero {
  overflow: hidden;
  background-image: url("/images/landing.jpg");
  height: calc(100vh - 68px);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__container {
  text-align: center;
}
.hero__title {
  font-size: 50px;
  text-transform: capitalize;
  color: var(--main-cl);
}
.hero__paraghraph {
  line-height: 1.6;
}

/* offers */
.offers {
  background: var(--sections-bg);
  padding: var(--main-padding);
}
.offers__container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.offers__icons {
  color: var(--main-cl);
}
.offers__item__title {
  text-transform: capitalize;
}

.offers__item-paragraph {
  line-height: 1.8;
}

/* services */
.services {
  padding: var(--main-padding) 0;
}
.services__header {
  text-align: center;
}
.services__content__title {
  margin-top: 0;
}
.services__subtitle,
.about__subtitle,
.portfolio__subtitle,
.contact__subtilte {
  color: var(--subhd-cl);
  margin-top: 0;
  position: relative;
  top: -50px;
  font-size: 20px;
}
.services__content {
  display: flex;
}
.services__container {
  display: flex;
  flex-wrap: wrap;
}
.services__items {
  width: calc(50%);
  display: flex;
  align-items: flex-start;
  gap: 5%;
}

.services__logo {
  color: var(--main-cl);
}
.services__aside__image {
  position: relative;
}
.services__sideimage {
  width: 260px;
}
.horizontal__line::after {
  content: "";
  display: block;
  position: absolute;
  top: -15%;
  right: -20%;
  width: 40%;
  height: 130%;
  background: var(--secondary-cl);
  z-index: -1;
}
